.bodyNps {
    margin: 0px;
    padding: 0px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
    font-family: 'arial';
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
    /* overflow: hidden; */
}

.bodyNps.active {
    background-image: url(img/menu-nuevo.png);
    margin: 0px;
    padding: 0px;
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
}

.divGral {
    background: linear-gradient(90deg, rgba(91, 14, 149, 0.5), rgba(255, 76, 102, 0.5));
    padding: 15px;
    visibility: hidden;
}

.divGral.active {
    background: linear-gradient(90deg, rgba(91, 14, 149, 0.5), rgba(255, 76, 102, 0.5));
    padding: 15px;
    visibility: visible;
}

.msj0 {
    padding-right: 25px;
    padding-top: 10px;
}

.msj10 {
    padding-right: 20px;
    padding-top: 10px;
}

h1,
h2,
h3,
h4,
p {
    padding-left: 20px;
    color: white;
}

label {
    text-align: center;
    color: white;
    font-size: 25px;
}

textarea {
    background: transparent;
    border: 1px solid #d9d9d9;
    font-size: 24px;
    height: 50px;
    padding: 5px;
    width: 100%;
    color: #FFFFFF;
}

::placeholder {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
}

.popup {
    position: relative;
    width: auto;
}

p,
h3 {
    color: #fff;
}

.PrixMin {
    float: left;
    color: #fff;
    font-size: 25px;
    margin-right: 5px;
}

.selecteurPrix {
    padding-top: 100px;
    padding-left: 80px;
}

.valeurPrix {
    position: absolute;
    top: -59px;
    left: 250px;
}

.range-slider {
    padding-top: 5px;
    position: relative;
    width: 600px;
    float: left;
    margin-right: 5px;
}

.range-slider .input-range {
    -webkit-appearance: none;
    width: 600px;
    height: 5px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
}

.range-slider .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #006;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider .input-range::-webkit-slider-thumb:hover {
    background: #006;
}

.range-slider .input-range:active::-webkit-slider-thumb {
    background: #006;
}

.range-slider .input-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider .input-range::-moz-range-thumb:hover {
    background: #006;
}

.range-slider .input-range:active::-moz-range-thumb {
    background: #006;
}

.range-slider .range-value {
    display: inline-block;
    position: relative;
    width: 83px;
    color: #fff;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    background: #006;
    padding: 5px 10px;
    margin-left: 7px;
}

.range-slider .range-value:after {
    position: absolute;
    top: 38px;
    left: 40px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #006;
    border-bottom: 7px solid transparent;
    content: '';
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.PrixMin2 {
    float: left;
    color: #fff;
    font-size: 25px;
    margin-right: 5px;
}

.selecteurPrix2 {
    padding-top: 100px;
    padding-left: 120px;
}

.valeurPrix2 {
    position: absolute;
    top: -59px;
    left: 250px;
}

.range-slider2 {
    padding-top: 5px;
    position: relative;
    width: 600px;
    float: left;
    margin-right: 5px;
}

.range-slider2 .input-range2 {
    -webkit-appearance: none;
    width: 600px;
    height: 5px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
}

.range-slider2 .input-range2::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #006;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider2 .input-range2::-webkit-slider-thumb:hover {
    background: #006;
}

.range-slider2 .input-range2:active::-webkit-slider-thumb {
    background: #006;
}

.range-slider2 .input-range2::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider2 .input-range2::-moz-range-thumb:hover {
    background: #006;
}

.range-slider2 .input-range2:active::-moz-range-thumb {
    background: #006;
}

.range-slider2 .range-value2 {
    display: inline-block;
    position: relative;
    width: 83px;
    color: #fff;
    font-size: 23px;
    line-height: 32px;
    text-align: center;
    border-radius: 3px;
    background: #006;
    padding: 5px 10px;
    margin-left: 7px;
}

.range-slider2 .range-value2:after {
    position: absolute;
    top: 38px;
    left: 40px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #006;
    border-bottom: 7px solid transparent;
    content: '';
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

 ::-moz-range-track {
    background: #fff;
    border: 0;
}

input::-moz-focus-inner {
    border: 2;
}

.optionbg {
    background-color: #FFE !important
}

.btn-cancelar {
    font-size: 24px;
    color: white;
    background: linear-gradient(0deg, rgb(26, 26, 26), rgb(67, 10, 128));
    border-color: #006;
    border-bottom-color: #fff;
    border-bottom-style: groove;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 3px;
    width: 100%;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.btn-cancelar:focus {
    outline: none;
}

.btn-cancelar:hover {
    background: linear-gradient(90deg, rgba(91, 14, 149, 0.5), rgba(255, 76, 102, 0.5));
    text-decoration: none;
}

.caja:hover {
    background: linear-gradient(90deg, rgba(91, 14, 149, 0.5), rgba(255, 76, 102, 0.5));
    text-decoration: none;
}

.btn-enviar {
    font-size: 24px;
    color: white;
    background: linear-gradient(0deg, rgb(26, 26, 26), rgb(67, 10, 128));
    border-color: #006;
    border-bottom-color: #fff;
    border-bottom-style: groove;
    border-right: none;
    border-left: none;
    border-top: none;
    border-width: 3px;
    width: 100%;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.btn-enviar:hover {
    background: linear-gradient(90deg, rgba(91, 14, 149, 0.5), rgba(255, 76, 102, 0.5));
    text-decoration: none;
}

.btn-enviar:focus {
    outline: none;
}

hr {
    background-color: #FFFFFF;
    opacity: 0.3;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    /* background: linear-gradient(90deg, rgb(91,14,149), rgb(255,76,102)); */
    background-image: url(img/bgpopup.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, .4);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 600px;
    transition: .8s ease all;
    opacity: 1000;
}

.popup .btn-cerrar-popup {
    font-size: 24px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

.popup .btn-cerrar-popup:hover {
    color: #666666;
}

.popup.active {
    opacity: 1;
}

#titleform {
    background-image: url(img/bgtitle-01.png);
    background-repeat: no-repeat;
    background-position: center -40px;
    padding-bottom: 90px;
}

.textShadow {
    text-shadow: #000 1px 1px 2px;
}

#btn-qe {
    width: 300px;
}

#btn-qs {
    width: 300px;
}

#btn-es {
    width: 300px;
}

.check1 input[type="checkbox"] {
    display: none;
}

.check1 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 1px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-01.png);
    background-size: cover;
    cursor: pointer;
}

.check1 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-01.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check2 input[type="checkbox"] {
    display: none;
}

.check2 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-02.png);
    background-size: cover;
    cursor: pointer;
}

.check2 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-02.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check3 input[type="checkbox"] {
    display: none;
}

.check3 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-03.png);
    background-size: cover;
    cursor: pointer;
}

.check3 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-03.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check4 input[type="checkbox"] {
    display: none;
}

.check4 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-04.png);
    background-size: cover;
    cursor: pointer;
}

.check4 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-04.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check5 input[type="checkbox"] {
    display: none;
}

.check5 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-05.png);
    background-size: cover;
    cursor: pointer;
}

.check5 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-05.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check2-1 input[type="checkbox"] {
    display: none;
}

.check2-1 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-01.png);
    background-size: cover;
    cursor: pointer;
}

.check2-1 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-01.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check2-2 input[type="checkbox"] {
    display: none;
}

.check2-2 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-02.png);
    background-size: cover;
    cursor: pointer;
}

.check2-2 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-02.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check2-3 input[type="checkbox"] {
    display: none;
}

.check2-3 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-03.png);
    background-size: cover;
    cursor: pointer;
}

.check2-3 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-03.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check2-4 input[type="checkbox"] {
    display: none;
}

.check2-4 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-04.png);
    background-size: cover;
    cursor: pointer;
}

.check2-4 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-04.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

.check2-5 input[type="checkbox"] {
    display: none;
}

.check2-5 input[type="checkbox"]+label span {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url(img/nps-face-05.png);
    background-size: cover;
    cursor: pointer;
}

.check2-5 input[type="checkbox"]:checked+label span {
    background: url(img/nps-face-05.png);
    background-size: cover;
    width: 60px;
    height: 60px;
    animation: shadow 4s infinite ease;
    border-radius: 30px;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 5px 5px rgb(255, 0, 157);
    }
    33% {
        box-shadow: 0px 0px 5px 3px rgb(38, 230, 179);
    }
    67% {
        box-shadow: 0px 0px 5px 5px rgb(241, 224, 31);
    }
    100% {
        box-shadow: 0px 0px 5px 3px rgb(38, 230, 179);
    }
    67% {
        box-shadow: 0px 0px 5px 3px rgb(241, 224, 31);
    }
    33% {
        box-shadow: 0px 0px 5px 8px rgb(0, 255, 238);
    }
}